@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  --ff-primary: 'Lato', sans-serif;

  --fw-reg: 400;
  --fw-bold: 700;

  --clr-light: #fffefc;
  --clr-blue: #2a8593;
  --clr-heading: #302b42;

  --bg-clr: #c5baab;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* *{
  margin: 0;
  
} */

.header {
  display: flex;
  flex-direction: row;
  background-color: var(--clr-blue);
  border-bottom: 0.002px solid var(--clr-blue);
  /* padding-bottom: 12px; */
  /* margin-bottom: 19px; */
  /* padding-top: 10px; */
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 5px 2px #2a8593;
  /* height: 70px; */
}


.logo {
  font-size: 33px;
  text-decoration: none;
  margin-left: 50px;
  color: var(--clr-blue);
  margin-top: 9px;
}

.logo-text {
  text-decoration: none;
  color: #ffffff;
}


.nav__list {
  display: flex;
  flex-direction: row;
  margin-left: 700px;
}

.nav__item {
  list-style: none;
  font-weight: 800;
  margin-top: 6px;
}

.nav__link {
  text-decoration: none;
  margin-left: 10px;
  color: #ffffff;
 
}

.nav__item:last-child {
  border: 2.2px solid #000000;
  margin-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: var(--clr-blue);
  font-size: 20px;
  letter-spacing: 1.5px;
  margin-top: 4px;
}

.landing {
  display: flex;
  margin-top: 40px;
}

.landing .text__section {
  display: flex;
  flex-direction: column;
  margin-left: 78px;
  margin-top: 40px;
}

.landing .img__section .img {
  height: 450px;
  width: 350px;
  border-radius: 5px;
  background-size: cover;
  /* margin-left: 5px; */
}

.landing .text__section .button {
  width: 150px;
  height: 40px;
  background-color: var(--clr-blue);
  color: var(--clr-light);
  border-style: none;
  border-radius: 3px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  letter-spacing: 2px;
  margin-top: 1px;
  text-transform: uppercase;
  font-variant: small-caps;
  /* margin-left: ; */
}

.span__text {
  color: var(--clr-heading);
}

.span__text::after {
  content: '';
  display: block;
  width: 27%;
  border-bottom: 3px var(--clr-heading) solid;
}

.landing .text__section .heading {
  font-size: 100px;
  margin-top: 55px;
}

.landing .text__section .paragraph {
  font-size: 20px;
  margin-top: -65px;
  width: 60%;
}

.advantages__heading {
  display: flex;
  flex-direction: row;
}

.advantages {
  margin-top: 20px;
  background-color: var(--clr-light);
}
.advantages__heading h2 {
  font-size: 80px;
  color: var(--clr-heading);
  margin-left: 240px;
  width: 75%;
}

.advantages__heading p {
  margin-top: 100px;
  padding-right: 200px;
  font-size: 18px;
  font-weight: var(--fw-reg);
  line-height: 19px;
}

.advantages__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
  margin-right: 70px;
}

.advantages__item {
  width: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.advantages__item .icon {
  /* width: 50%;
  height: 30px; */
  font-size: 100px;
}

.advantages__item h5 {
  font-size: 20px;
  width: 45%;
}

.howitworks {
  display: flex;
  flex-direction: row;
  background-color: var(--clr-blue);
  /* opacity: 0.8; */
  /* z-index: 99;
  margin: 7px; */
}

.howitworks__img {
  width: 50%;
  margin-right: 200px;
  
  
}

.howitworks__text {
  width: 48%;
}

.howitworks__text h2 {
  font-size: 40px;
  /* color:var(--clr-blue) ; */
}

.howitworks__text ul {
  font-size: 20px;
}

.howitworks__text li {
 font-weight: var(--fw-reg);
 padding: 13px;
 list-style-type: square disc;;
}

.howitworks__text ul a {
  margin-left: -20px;
  padding-top: 10px;
  color: var(--clr-light);
}


.courses {
  display: flex;
  flex-direction: row;
  margin: 35px;
  padding: 35px;
  /* width: 23.5% ; */
}

.courses__intro {
  text-align: center;
  font-size: 50px;
  color: var(--clr-heading);
}

.calltoaction {
  background-color: var(--clr-blue);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0 auto;
  height: 450px;
  font-size: 70px;
}

.calltoaction button {
  background-color: #000000;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  border: 10px solid #000000;
  /* border-style: none; */
  color: #ffffff;
  margin-top: -35px;
  cursor: pointer;
  letter-spacing: 1.5px;
  font-weight: 900px;
  font-size: 24px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
  font-variant: small-caps;
}

.calltoaction__span::after {
  content: '';
  display: block;
  margin-left: 345px;
  width: 38%;
  border-bottom: 5px #ffffff solid;
  margin-top: -13px;
}

.footer {
  height: 300px;
  background-color: #000000;
  color: var(--bg-clr);
  padding: 25px;
}

.main-footer {
  display: flex;
}

.main-footer__mission {
  width: 60%;
}

.main-footer__mission h2 {
  font-size: 50px;
  text-decoration: none;
  color: var(--clr-blue);
}

.main-footer__mission p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: var(--fw-reg);
  margin-top: -30px;
  width: 70%;
}

.main-footer__social {
  padding-top: 30px;
  margin-left: 10px;
}

.main-footer__social h3 {
  font-size: 25px;
}

.main-footer__social a i {
  padding: 24px;
  width: 30px;
  font-size: 50px;
  margin-top: -20px;
}

.footer__copyright p{
  display: flex;
  justify-content: center;
  margin-top: 95px;
}

@media(max-width: 768px) {
  
  .nav {
    display: none;
  }

  .logo > a {
    font-size: 17px;
    margin: 0px;
  }

  .landing {
    display: flex;
    flex-direction: column;
    margin-top: -60px;
  }

  .landing .text__section {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    
  }
  
  .landing .img__section .img {
    height: 440px;
    width: 330px;
    border-radius: 5px;
    background-size: cover;
    margin-top: 80px;
    margin-left: 20px;
  }
  
  .span__text {
    color: var(--clr-heading);
  }
  
  .span__text::after {
    content: '';
    display: block;
    width: 27%;
    border-bottom: 3px var(--clr-heading) solid;
  }
  
  .landing .text__section .heading {
    font-size: 42px;
    line-height: 1.5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .landing .text__section .paragraph {
    font-size: 15px;
    padding-top: 35px;
    font-weight: var(--fw-reg);
    width: 70%;
    line-height: 1.5;
  }

  .advantages__heading {
    display: flex;
    flex-direction: column;
  }
  
  .advantages {
    background-color: var(--clr-light);
  }
  .advantages__heading h2 {
    font-size: 50px;
    color: var(--clr-heading);
    margin-left: 25px;
  }
  
  .advantages__heading p {
    margin: 0;
    margin-top: -30px;
    padding-left: 20px;
    font-size: 15px;
    width: 95%;
    font-weight: var(--fw-reg);
  }
  
  .advantages__items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
  
  .advantages__item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 125px;
  }
  
  .advantages__item h5 {
    font-size: 14px;
    width: 45%;
  }

  
.howitworks {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-clr);
  /* z-index: 99;
  margin: 7px; */
}

.howitworks__img {
  width: 30%;
  display: none;
  /* margin-right: 200px; */
}

.howitworks__text {
  width: 78%;
}

.howitworks__text h2 {
  font-size: 37px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 18px ;
  margin-top: 1px;

}

.howitworks__text ul {
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.howitworks__text ul li a {
  font-family: var(--ff-primary);
}

.courses {
  display: flex;
  flex-direction: column;
  margin-left: 2px;
  margin-right: 12px;
  padding: 5px;
  width: 96%;
  /* width: 23.5% ; */
}

.courses__intro {
  font-size: 40px;
  width: 90%;
  color: var(--clr-heading);
}

.courses__intro {
  text-align: center;
  font-size: 50px;
  color: var(--clr-heading);
}

.calltoaction {
  background-color: var(--clr-blue);
  display: flex;
  flex-direction: column;
  
  width: 100%;
  height: 400px;
  font-size: 50px;
}

.calltoaction__span::after {
  content: '';
  display: block;
  margin-left: 102px;
  width: 45.5%;
  border-bottom: 5px #ffffff solid;
  margin-top: 0px;
}

.footer {
  height: 300px;
  background-color: #000000;
  color: var(--bg-clr);
  padding: 0;
}

.main-footer {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  
}

.main-footer__mission {
  margin-top: -22px;
  width: 95%;
}

.main-footer__mission h2 {
  font-size: 35px;
  text-decoration: none;
  color: var(--clr-blue);
}

.main-footer__mission p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: var(--fw-reg);
  margin-top: -24px;
  width: 100%;
  line-height: 1.2;
}

.main-footer__social {
 
  padding-top: 2px;
  margin-left: 30px;
}

.main-footer__social h3 {
  
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-footer__social a i {
  padding: 28px;
  width: 22px;
  font-size: 40px;
  margin-top: -30px;
}

.footer__copyright p{
  display: flex;
  justify-content: center;
  margin-top: 95px;
}
}